body {
  background-color: beige;
}
h2 {
  text-align: center;
  color: brown;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 200px 300px;
  gap: 20px;
}
.row .para {
  padding: 10px;
  background-color: gray;
  color: white;
}
