h2{
    text-align: center;
    color: brown;
}
.key {
  background-color: blanchedalmond;
  display: grid;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px 50px 50px 50px;
  gap:20px;
}
.buttons .one{
    grid-column-start:1;
    grid-column-end:3;
}
.buttons .six{
    grid-column:1/3;
}
.button {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px 50px 50px 50px;
  gap:20px;
}
.button .one{
    grid-row:1/3;
}
