* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  background-color: lightsteelblue;
  width: 400px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width:350px;
}

.container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border-style: double;
}
.container input:hover {
  border: 2px solid black;
}
.container button {
  border-radius: 5px;
  color: white;
  background-color: blueviolet;
  border: 1px blueviolet;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.container button:hover {
  opacity: 0.4;
  color: white;
}
footer {
  padding-top: 10px;
  text-align: center;
  font-size: smaller;
}
