.cal {
  width: calc(100% - 50%);
  margin: 10px;
  background-color: aqua;
}
.cal .circle {
  width: 200px;
  height: 200px;
  background-color: lightsalmon;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: yellow;
  height: 300px;
  width: calc(100% - 50%);
  justify-content: space-between;
  margin: 20px;
  display: flex;
}
.box {
  background-color: green;
  width: calc(100% / 4 - 40px);
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
