* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.box,
.box2 {
  background-color: white;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 100px;
  margin: auto;
}
.box p,
.box2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
