* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  height: 150vh;
  grid-template-columns: 0.5fr 8fr 0.5fr;
  grid-template-rows: 50px 2fr 40px;
  grid-template-areas:
    "header header header"
    "lsidebar main rsidebar"
    "lsidebar footer rsidebar";
}
.header {
  grid-area: header;
  background-color: lightcoral;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Lsidebar {
  grid-area: lsidebar;
  background-color: lightgreen;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  grid-area: main;
  background-color: lightblue;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rsidebar {
  grid-area: rsidebar;
  background-color: lightgrey;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  grid-area: footer;
  background-color: lightpink;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: 0.5fr 8fr;
    grid-template-rows: 50px 2fr 40px;
    grid-template-areas:
      "header header"
      "lsidebar main"
      "lsidebar footer";
  }
  .Rsidebar {
    display: none;
  }
}
