.container{
    display: flex;
}
h1{
    text-align: center;
    color:red;
}
.blue{
    background-color: blue;
    height:100px;
    width:100px;
}
.green{
    background-color: green;
    height:100px;
    width:100px;
}
.yellow{
    background-color: yellow;
    height:100px;
    width:100px;
}
.one{
    justify-content: flex-start;
}
.two{
    justify-content: flex-end;
}
.three{
    justify-content: space-between;
}
.four{
    justify-content: space-around;
}
.five{
    justify-content:center;
}