* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background: linear-gradient(to right, white, blue);
}

.container {
  display: grid;
  grid-template-areas:
    "name nav"
    "img txt";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 20px;
  gap: 20px;
}
.links {
  display: flex;
  gap: 60px;
}
.links a {
  text-decoration: none;
  font-size: large;
  font-weight: 550;
  color: black;
}
.user-name {
  text-shadow: black 0px 0px 3px;
  color: blue;
  grid-area: name;
}

.links .linked a {
  background-color: white;
  padding: 5px;
  color: black;
  border-radius: 10px;
  margin-top: 15px;
}
.link a:hover {
  color: white;
}
.linked a:hover {
  color: blue;
}

/* ------------------------------------------------------------ */

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  align-items: center;
  gap: -10px;
}
.main-image img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-right: -150px;
  border: 5px solid black;
  border-radius: 50%;
}
.main-image {
  display: grid;
  justify-content: center;
  height: 80vh;
  align-items: center;
  grid-area: img;
}
.main-text {
  line-height: 30px;
  margin-top: 20%;
  grid-area: txt;
}
.main-text .same span {
  color: white;
  text-shadow: black 5px 5px 5px;
}
.socialicon i {
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 10px;
  font-size: 1.3rem;
  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.socialicon i:hover {
  border: 2px white solid;
}

.download span {
  border: 2px solid black;
  padding: 3px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.download span:hover {
  border: white 2px solid;
}

@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "name"
      "nav"
      "img"
      "txt";
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }
  .main-text {
    margin-top: -50px;
    text-align: center;
  }
  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-image img {
    width: 40%;
    height: auto;
    margin: auto;
  }
  .user-name{
    text-align: center;

  }
}
